body{
    background-color: #eeeeee;
}
.header{
    text-align: center;  
    background-color: #ffd369;
    color:#393e46;  
 margin-right:25px;
    margin-left:12%;
    margin-bottom: 10px;
    margin-top:10px;
    border: solid #393e46;
    border-radius: 10px;

}
img{
float:left;
width: 10%;
height: 100px;
margin-left: 10px;
border: solid #393e46;
border-radius:100px;
}
.left{
    float: left;
    width:12%;
    height: 1000px;
    background-color: #ffd369;
    color:#393e46; 
    border: solid #393e46;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom:200px;
}
.right{
    float:right;
    margin-right: 25px;
    width:85%;
    height: 1000px;
    background-color: #ffd369;
    color:#393e46; 
    border: solid #393e46;
    border-radius: 10px; 
    margin-bottom: 150px;
    
}
.title{
    text-align: center;
    
}
.footer{
text-align:center;
margin-top:1200px;
background-color: #ffd369;
    color:#393e46; 
    border: solid #393e46;
border-radius: 10px; 
margin-right: 200px;
margin-left: 200px;
overflow: hidden;

}
.profile{
    border: solid #393e46;
    border-radius: 10px;
    border-right: 50px;
}
